@model IEnumerable<StoryMakerV3.Models.Story>

@{
    ViewBag.Title = "ArchievedStories";
}

<h2>ArchievedStories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>   
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("UnArchieve", "UnarchievedStories", new { id = item.StoryId })                
            </td>
        </tr>
  }
</table>